.two-fa {
    background: linear-gradient(90deg, #8e2de2, #4a00e0) !important;
    box-shadow: var(--block-shadow);
    color: var(--color_white);
    border-radius: var(--border-radius);
    padding: 14px 20px;
    font-size: 14px;
    line-height: 120%;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.2s ease;
    opacity: 0.7;
}

.two-fa:hover {
    opacity: 0.85;
}

.days {
    padding: 15px 0 0;
    font-weight: 500;
}
