.welcome__map {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.welcome__work {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.welcome__work-item {
    flex: 0 1 778px;
}

.welcome__dinner-item {
    flex: 0 1 890px;
}

.welcome__map-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome__map-image {
    width: 100%;
    max-height: 475px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.welcome__map-legend {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.welcome__map-legend-description {
    flex: 0 1 700px;
}

.welcome__map-image-button {
    max-width: 40px;
    height: auto;
    object-fit: contain;
}

.welcome__dress {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.welcome__dress-column {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.welcome__dress-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.welcome__dress-item {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.welcome__dress-row {
    display: flex;
    flex-direction: column-reverse;
    gap: 50px;
    padding-bottom: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.welcome__dress-row:last-child {
    border-bottom: none;
}

.welcome__dress-row:nth-child(2) {
    gap: 75px;
}

@media (min-width: 768px) {
    .welcome__map-legend {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .welcome__map-wrapper {
        position: relative;
        width: 100%;
    }

    .welcome__dress-row {
        display: grid;
        grid-template-columns: minmax(0, 500px) max-content;
        gap: 100px;
        padding-bottom: 36px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
}
