.welcome {
    padding: 40px 0;
}

.welcome__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

@media (min-width: 768px) {
    .welcome {
        padding: 52px 0;
    }

    .welcome__cards {
        gap: 21px;
        grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    }
}

@media (min-width: 1024px) {
    .welcome__cards {
        grid-template-columns: repeat(3, minmax(310px, 1fr));
    }
}

@media (min-width: 768px) {
    .welcome__card-image-1 { transform: translate(40px, 15px); }
    .welcome__card-image-2 { transform: translate(48px, 12px); }
    .welcome__card-image-3 { transform: translate(60px, 65px); max-width: 180px; }
    .welcome__card-image-4 { transform: translate(35px, 12px); max-width: 160px; }
    .welcome__card-image-5 { transform: translate(42px, 0); max-width: 160px; }
    .welcome__card-image-6 { transform: translate(60px, 20px); max-width: 180px; }
    .welcome__card-image-7 { transform: translate(45px, 12px); max-width: 180px; }
    .welcome__card-image-8 { transform: translate(62px, 30px); max-width: 180px; }
}

@media (min-width: 1024px) {
    .welcome__card-image-3 { transform: translate(60px, 90px); }
    .welcome__card-image-4 { transform: translate(55px, 45px); }
    .welcome__card-image-6 { transform: translate(60px, 35px); }
    .welcome__card-image-7 { transform: translate(55px, 12px); }
    .welcome__card-image-8 { transform: translate(84px, 50px); }
}

@media (min-width: 1920px) {
    .welcome__card-image-1 { transform: translate(52px, 22px); }
    .welcome__card-image-2 { transform: translate(48px, 12px); }
    .welcome__card-image-3 { transform: translate(70px, 62px); }
    .welcome__card-image-4 { transform: translate(35px, 12px); }
    .welcome__card-image-5 { transform: translate(42px, 0); }
    .welcome__card-image-6 { transform: translate(95px, 20px); }
    .welcome__card-image-7 { transform: translate(65px, 12px); }
    .welcome__card-image-8 { transform: translate(52px, 16px); }
}