.welcome__personnel {
    padding: 25px 16px
}

.welcome__actions {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.welcome__number {
    width: 23px;
    height: 23px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--color_blue);
    border: 1px solid var(--color_blue);
}

.welcome__action-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome__action-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.welcome__information-wrapper {
    width: 20px;
    height: 20px;
}

.welcome__information-image {
    position: relative;
    top: 5px;
    object-fit: contain;
}

.welcome__action-description {
    line-height: 24px;
}

.welcome__information {
    border: 1px solid var(--color_blue);
    border-radius: 20px;
    background: rgb(243, 250, 255);
    padding: 26px 36px 40px 30px;
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.welcome__information-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.welcome__chart {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.welcome__chart-item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome_chart-item {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.welcome__vacation {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.welcome__vacation-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 768px) {
    .welcome__personnel {
        padding: 34px 52px 58px 52px;
    }
}
