.welcome__about {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome__about-layout {
    background-color: white;
    border-radius: 10px;
}

.welcome__about-header {
    padding: 52px 38px 52px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.welcome__about-title-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.welcome__about-span {
    width: 2px;
    height: 25px;
    background-color: var(--color_blue);
    border-radius: 100px;
}

.welcome__about-title {
    font-size: 30px;
    font-weight: 400;
}

.welcome__about-company {
    padding: 42px 40px 42px 52px;
    display: grid;
    grid-template-columns: minmax(0, 350px) 1fr;
    align-items: center;
    gap: 38px;
}

.welcome__about-company-wrapper {
    width: 100%;
}

.welcome__about-company-image {
    width: 100%;
    max-height: 450px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.welcome__about-company-person {
    display: flex;
    flex-direction: column;
}

.welcome__about-company-name {
    font-size: 25px;
    font-weight: 400;
}

.welcome__about-company-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome__about-company-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}